* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

:root {
    /* ### Primary */

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* ### Neutral */

    --Very-dark-blue: hsl(217, 54%, 11%);
    --Very-dark-blue: hsl(216, 50%, 16%);
    --Very-dark-blue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

/* Attribution */

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
